*{
    padding: 5px;
    margin: 5px;
}


body{
    background-color: rgb(128, 5, 62);
h2{
    text-align: center;
    color: rgb(14, 231, 79);
    font-weight: bold;
}
#abid {
    color: aliceblue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    
}
.shipto{
    border: 3px solid green;
    background-color: bisque;
    padding: 10px;
    text-align: justify;
    border-radius: 40px 0px ;
    box-shadow: 10px 10px 10px rgb(243, 202, 202);
    
    
}
button{
    background-color:purple;
    color: white;
    margin-top: 20px;
    display: inline;
}
